<% include inc/header %>
<div id="main">
    <div id="main-inner">
        <div id="topnav">
            <ul>
                <li><a href="/">首页</a></li>
                <li class="sep"> | </li>
                <li><a href="/tag.html">标签</a></li>
                <% include inc/navbar %>
            </ul>
            <div style="clear:both;"></div>
        </div>
        <div id="article-title">
            <a href="<%= article.link %>"><%= article.title %></a>
        </div>
        <div id="article-meta">
            作者 <%= article.author %> | 发布于 <%= article.postedOn %> | <div class="bshare-custom" style="display: inline-block;font-size: large"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
        </div>
        <div id="article-tags">
        <% article.tags.forEach(function (tag) { %>
        <a class="tag" href="/tag.html#<%= tag %>"><%= tag %></a>
        <% }); %>
        </div>
        <div id="article-content">
            <%- article.content %>
        </div>
        <% include inc/article_footer_plugin %>
    </div>
</div>
<% include inc/footer %>
