        <div id="footer">
            <div id="footer-inner">
                <p id="copyright">Copyright (c) <%= site.copyright.beginYear %>-<%= site.copyright.endYear %> <%= site.copyright.owner %>  <%= site.copyright.ICP %> <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5729375'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s17.cnzz.com/stat.php%3Fid%3D5729375%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                </p>
                <!--<p id="icp"><a href="http://www.miibeian.gov.cn/" target="_blank"><%= site.copyright.ICP %></a></p>-->
            </div>
        </div>
        <% include footer_plugin %>
        </body>
</html>
